{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des livres</h1>

<a href="{{ path('app_book_create') }}">Ajouter un livre.</a>

{% if books %}
<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prix</th>
      <th>Stock</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for b in books %}
    {#
    {% if b.stock >= 10 %}
    <tr style="background-color: lime;">
    {% elseif b.stock == 0 %}
    <tr style="background-color: red;">
    {% else %}
    <tr style="background-color: orange;">
    {% endif %}
    #}
    <tr class="{% if b.stock >= 10 %}high-stock{% elseif b.stock == 0 %}no-stock{% else %}low-stock{% endif %}">
      <td><a href="{{ path('app_book_show', {id: b.id}) }}">{{ b.name }}</a></td>
      <td>{{ b.price }}</td>
      <td>{{ b.stock }}</td>
      <td>
      <div class="btn-group " role="group">
        <a class="btn btn-primary" href="{{ path('app_book_show', {id: b.id}) }}">Voir</a>
        <a class="btn btn-primary" href="{{ path('app_book_edit', {id: b.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('app_book_delete', {id: b.id}) }}">Supprimer</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
<p class="text text-warning">Aucun livre disponible.</p>
{% endif %}
{% endblock %}
