{% extends 'base.html.twig' %}

{% block body %}
<h1>Fiche de {{ book.name }}</h1>

<dl>
  <dt> Price</dt>   <dd>  {{ book.price }}</dd>
  <dt> Stock</dt>   <dd>  {{ book.stock }}</dd>
  <dt> Auteur</dt>  <dd>  {{ book.author }}</dd>
</dl>

<p><strong>Description :</strong> {{ book.description }}</p>

{% endblock %}
