{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} > Partenaires
{% endblock %}

{% block body %}
    {{ parent() }}
  <h1>Liste des entreprises</h1>

  {% if entities %}
  <ul>
    {% for e in entities %}
    <li><a href="{{ path('app_company_show', {id: e.id}) }}">{{ e.name }}</a> {% endfor %}
  </ul>
  {% else %}
  <p class="text text-warning">Aucune entreprise.</p>
  {% endif %}


  {% for i in 0..100 %}
  <br>
  {% if i > 50 %}
  gros
  {% else %}
  petit
  {% endif %}
  {% endfor %}
  <br>

  {% for i in 1..4 %}
  {% for j in 1..2 %}
  {{ dump(loop) }}
  {% endfor %}
  {% endfor %}
{% endblock %}
